/*-------- Ensemble de la page --------*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#b7324b, #a0213f, #891133);
    color: #f5f9e9;
    height: 100vh;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
    color: #891133;
}

/*----------------  Barre de navigation ---------------*/

nav {
    position: absolute;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    padding: 5px 10px;
    font-size: 20px;
    margin: 0 2px;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: #b7324b;
}

/*-------------------- Page d'accueil -------------------*/

.accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    width: 50%;
}

.text p {
    font-size: 20px;
    padding: 20px 0;
}

.getstarted {
    background-color: transparent;
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.getstarted a {
    color: black;
}

.getstarted:hover {
    background-color: #f5f9e9;
    color: #b7324b;
}

.getstarted:hover a {
    color: inherit;
}

.list img {
    width: 400px;
    height: 400px;
}

/*------------- Formulaire Connexion et Inscription -------------*/

.CoIns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px 30px;
    border-radius: 10px;
    text-align: center;
}

.form_block {
    background-color: #f5f9e9;
    border-radius: 10px;
    color: black;
    padding: 30px;
}

.form {
    padding: 20px 0;
}

.bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 14px;
    display: block;
    text-align: left;
}

input {
    padding: 5px;
    margin: 15px;
    border: none;
    border-bottom: 3px solid black;
    align-items: center;
    font-size: 15px;
    background: transparent;
}

input::placeholder {
    font-size: 15px;
    color: black;
}

.getstartedform {
    color: #f5f9e9;
    background-color: #b7324b;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0 0 0;
}

.getstartedform:hover {
    color: black;
    background-color: #f5f9e9;
}

.getstartedform a {
    color: #f5f9e9;
    text-decoration: none;
}

.getstartedform a:hover {
    color: #b7324b;
}

.redirection {
    margin: 10px 0 0 0;
}
